<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<p> Avis </p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
  <% end %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to the restaurants list", restaurants_path	%>
